name: "EKS CI"

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  terraform:
    name: "Terraform Test"
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.5.0"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.OC_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.OC_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: ${{ secrets.OC_ROLE_TO_ASSUME }}

      - name: Terraform Init
        run: terraform init
        working-directory: tests/setup

      - name: Terraform Validate Setup
        run: terraform validate
        working-directory: tests/setup

      # - name: Terraform Test
      #   run: terraform test
